#externalcss
{
    color: blue;
    background-color: aliceblue;
}
.vermont
{
    color: rgb(0, 255, 51);
    background-color: black;
}

/*body {
    color: orchid;
    background-color: rgb(170, 16, 237);
} */

